<% content_for :header do %>
  <ol class="breadcrumb">
    <li><%= link_to t('.dashboard'), :root %></li>
    <li><%= link_to t('.playlists'), :playlists %></li>
    <li><%= link_to @playlist, @playlist %></li>
    <li class="current"><%= t('.edit') %></li>
  </ol>
  <h1><%= @playlist %></h1>
<% end %>

<% content_for :toolbar do %>
  <%= link_to t('.cancel'), @playlist, class: 'btn btn-default' %>
<% end %>

<%= render 'form' %>