<ol class="breadcrumb">
  <li><%= link_to t('.dashboard'), :dashboard %></li>
  <li><%= link_to t('.playlists'), [:dashboard, :playlists] %></li>
  <li class="current"><%= t('.new_playlist') %></li>
</ol>

<div class="page-header">
  <%= link_to t('.cancel'), [:dashboard, :playlists], class: 'btn btn-default pull-right' %>
  <h1><%= t('.new_playlist') %></h1>
</div>

<%= render 'form' %>