<% content_for :header do %>
  <ol class="breadcrumb">
    <li><%= link_to t('.dashboard'), :dashboard %></li>
    <li><%= link_to t('.playlists'), [:dashboard, :playlists] %></li>
    <li class="current"><%= t('.new_playlist') %></li>
  </ol>
  <h1><%= t('.new_playlist') %></h1>
<% end %>

<div class="dashboard-toolbar">
  <%= link_to t('.cancel'), [:dashboard, :playlists], class: 'btn btn-default' %>
</div>

<%= render 'form' %>