<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/six/head' %>
  </head>
  <body>
    <%= render Six::Layout::NavbarComponent.new %>

    <%= render Six::Base::JumboComponent.new do %>
      <%= content_for(:hero) %>
    <% end %>

    <%= render Six::Base::WrapperComponent.new(tag: 'main') do %>
      <%= yield %>
    <% end %>

    <%= render Six::Layout::FooterComponent.new %>
  </body>
</html>
