<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/six/head' %>
  </head>
  <body>
    <%= render Six::Layout::NavbarComponent.new %>

    <%= render Six::Base::JumboComponent.new do %>
      <%= content_for(:hero) %>
    <% end %>

    <main class="wrapped">
    <%= yield %>
    </main>

    <%= render Six::Layout::FooterComponent.new %>
  </body>
</html>
