<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/six/head' %>
  </head>
  <body>
    <%= render Six::Layout::SupportUkraineComponent.new if ENV['USE_SUPPORT_UA'].present? %>
    <% if content_for?(:navbar) %>
      <%= content_for(:navbar) %>
    <% else %>
      <%= render Six::Layout::NavbarComponent.new %>
    <% end %>

    <% if content_for?(:jumbo) %>
      <%= content_for(:jumbo) %>
    <% elsif content_for?(:hero) %>
      <%= render Six::Base::JumboComponent.new do %>
        <%= content_for(:hero) %>
      <% end %>
    <% end %>

    <main>
    <%= yield %>
    </main>

    <%= render Six::Layout::FooterComponent.new %>
  </body>
</html>
