<header role="banner" class="main-header">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#makigas-navbar" aria-expanded="false">
              <span class="sr-only"><%= t('.navigation') %></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'makigas', :dashboard, class: 'navbar-brand'%>
          </div>
      <div class="collapse navbar-collapse" id="makigas-navbar">
        <ul class="nav navbar-nav">
          <%= navigation_link t('.videos'), [:dashboard, :videos] %>
          <%= navigation_link t('.playlists'), [:dashboard, :playlists] %>
          <%= navigation_link t('.topics'), [:dashboard, :topics] %>
          <%= navigation_link t('.users'), [:dashboard, :users] %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('.view_site'), root_path %></li>
          <li><%= link_to t('.log_out'), destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  
</header>

