<header role="banner" class="main-header">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#makigas-navbar" aria-expanded="false">
              <span class="sr-only"><%= t('.navigation') %></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'makigas', :dashboard, class: 'navbar-brand'%>
          </div>
      <div class="collapse navbar-collapse" id="makigas-navbar">
        <ul class="nav navbar-nav">
          <li class="nav-item"><%= link_to t('.videos'), [:dashboard, :videos], class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t('.playlists'), [:dashboard, :playlists], class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t('.topics'), [:dashboard, :topics], class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t('.opinions'), [:dashboard, :opinions], class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t('.users'), [:dashboard, :users], class: 'nav-link' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text hidden-sm hidden-xs"><%= current_user.email %></li>
          <li><%= link_to t('.view_site'), root_url(subdomain: nil), target: :blank %></li>
          <li><%= link_to t('.log_out'), destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  
</header>

