<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>makigas</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <%= stylesheet_link_tag 'vendor' %>
  <%= stylesheet_link_tag 'dashboard/dashboard', media: 'all' %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="no-js <%= "page-#{controller.controller_name}" %>">

  <%= render 'layouts/dashboard/header' %>

  <div class="dashboard-page">
    <header class="dashboard-header">
      <div class="container">
        <div class="dashboard-toolbar float-end">
          <%= content_for :toolbar %>
        </div>
        <%= content_for :header %>
      </div>
    </header>

    <main class="container">
      <%= content_tag(:div, flash[:notice], class: 'alert alert-info') if flash[:notice] %>
      <%= yield %>
    </main>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'vendor' %>
  <%= javascript_include_tag 'dashboard/dashboard' %>

</body>
</html>
