.about-makigas.front-block{id: 'about-makigas' }
  .container
    %h1.title= t('.title')
    .row
      .col-md-6.hidden-xs.hidden-sm
        = image_tag 'laptop.jpg', srcset: "#{path_to_image('laptop@2x.jpg')} 2x", class: 'laptop-image', alt: t('.laptop')
      .col-md-6
        %p= t('.about.line0')
        %p= t('.about.line1')