.about-features.front-block
  .container
    %h1.title= t('.title')
    .row
      .col-md-4
        %p= image_tag 'features/free.png', alt: t('.free.alt')
        %h3= t('.free.title')
        %p= t('.free.text')
      .col-md-4
        %p= image_tag 'features/flag.png', alt: t('.spanish.alt')
        %h3= t('.spanish.title')
        %p= t('.spanish.text')
      .col-md-4
        %p= image_tag 'features/people.png', alt: t('.informal.alt')
        %h3= t('.informal.title')
        %p= t('.informal.text')