.how-to-follow.front-block
  .container
    %h1.title= t('.title')
    .row
      .col-sm-6
        %h3= t('.youtube.title')
        %p= t('.youtube.text')
        %p= link_to t('.youtube.button'), 'https://www.youtube.com/makigas', class: 'btn btn-hero', title: t('.youtube.alt')
      .col-sm-6
        %h3= t('.makigas.title')
        %p= t('.makigas.text')
        %p= link_to t('.makigas.button'), 'https://www.youtube.com/makigas', class: 'btn btn-hero', title: t('.makigas.alt')