.recent-videos.front-block
  .container
    %h1.title= t('.title')
    .row
      - @recent.each do |v|
        .video.col-md-3.col-xs-6
          %p= link_to image_tag("https://i1.ytimg.com/vi/#{v.youtube_id}/mqdefault.jpg", class: 'img-thumbnail'), v
          %p= link_to v.title, v
    .row
      .col-sm-6.col-sm-push-3
        = link_to t('.recent_videos'), :videos, class: 'btn btn-lg btn-block btn-primary', title: t('.recent_videos_alt')