<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="grid-table topic-list row">
  <% @topics.each do |tp| %>
    <div class="topic col-md-6">
      <%= link_to tp do %>
        <div class="media">
          <div class="media-left">
            <%= image_tag tp.thumbnail.url(:small), srcset: "#{tp.thumbnail.url(:default)} 2x" %>
          </div>
          <div class="media-body media-middle">
            <h4 class="media-heading"><%= tp.title %></h4>
            <p><%= tp.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
