<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="buttons-bar">
  <div class="text-right">
    <%= link_to t('.new'), new_topic_path, class: 'btn btn-success' %>
  </div>
</div>

<div class="grid-table row">
<% @topics.each do |tp| %>
<div class="topic col-xs-6 col-sm-4 col-lg-3">
  <%= link_to tp do %>
  <div class="panel panel-default">
    <%= image_tag(tp.photo.url(:medium), srcset: "#{tp.photo.url(:big)} 2x", class: 'img-responsive') %>
    <div class="panel-heading">
      <h3 class="panel-title"><%= tp.title %></h3>
    </div>
  </div>
  <% end %>
</div>
<% end %>
</div>
