<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="es-ES">
  <title type="text">makigas (<%= @topic.title %>)</title>
  <subtitle type="text">Vídeos recientes publicados en el tema <%= @topic.title %></subtitle>
  <updated><%= @videos.pluck(:updated_at).max.iso8601 %></updated>
  <id><%= topic_url(@topic, format: :atom) %></id>
  <icon><%= @topic.thumbnail.url %></icon>
  <logo><%= @topic.thumbnail.url %></logo>
  <link rel="self" href="<%= topic_url(@topic, format: :atom) %>" type="application/atom+xml" />
  <link rel="alternate" href="<%= topic_url(@topic) %>" type="text/html" />
  <author><name>makigas.es</name></author>
  <generator uri="https://github.com/makigas/makigas">makigas.es</generator>
  <%= render partial: 'videos/video', collection: @videos %>
</feed>
