<% content_for :hero do %>
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
<% end %>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="episodes-table list-group">
  <% @topic.playlists.each do |p| %>
    <%= link_to playlist_path(p), class: 'list-group-item' do %>
      <div class="media">
        <div class="media-left media-middle hidden-xs">
          <%= image_tag "http://placehold.it/180x180", srcset: "http://placehold.it/360x360 2x" %>
        </div>
        <div class="media-body media-middle">
          <h4 class="list-group-item-heading">
            <%= p.title %>
            <span class="small">&bull; <%= t('.videos', count: p.videos.length) %></span>
          </h4>
          <p class="list-group-item-text"><%= p.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>