<% content_for :hero do %>
  <div class="row">
    <div class="col-md-9 col-sm-8">
      <h1><%= @topic.title %></h1>
      <p><%= @topic.description %></p>
    </div>
    <div class="col-md-3 col-sm-4 hidden-xs">
      <%= image_tag @topic.photo.url(:medium), class: 'img-responsive' %>
    </div>
  </div>
<% end %>

<div class="buttons-bar">
  <div class="pull-left">
  <%= link_to 'Agregar listas', insert_topic_path(@topic), class: 'btn btn-success' %>
  </div>

  <div class="pull-right">
  <%= link_to 'Editar tema', edit_topic_path(@topic), class: 'btn btn-default' %>
  <%= button_to 'Borrar tema', topic_path(@topic), method: :delete, class: 'btn btn-danger', data: { confirm: 'Esto borrará para siempre la temática.' } %>
  </div>
</div>

<div class="list-group">
  <% @topic.playlists.each do |p| %>
  <div class="list-group-item">
    <div class="media">
      <div class="media-left hidden-xs">
        <%= image_tag p.photo.url(:md) %>
      </div>
      <div class="media-body">
        <h4 class="list-group-item-heading">
          <%= link_to p.title, playlist_path(p) %>
          <span class="small">&bull; <%= pluralize(p.videos.length, 'video', plural: 'videos') %></span>
        </h4>
        <p class="list-group-item-text"><%= p.description %></p>
        <p class="list-group-item-text">
          <%= button_to 'Eliminar lista', release_topic_path(@topic, playlist: p.id), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Esto liberará esta lista de este tema. ' } %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>