<% content_for :title, "#{@topic.title} – makigas" %>
<% content_for :description, "#{@topic.description} #{t('.meta.description')}" %>
<% content_for :twitter do %>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@makigas">
<meta name="twitter:title" content="<%= @topic.title %>">
<meta name="twitter:description" content="<%= @topic.description %>">
<meta name="twitter:image" content="<%= image_url(@topic.thumbnail.url, only_path: false) %>">
<% end %>
<% content_for :facebook do %>
<meta property="og:url" content="<%= canonical_url %>">
<meta property="og:title" content="<%= @topic.title %>">
<meta property="og:type" content="website">
<meta property="og:description" content="<%= @topic.description %>">
<meta property="og:site_name" content="makigas">
<meta property="og:image" content="<%= image_url(@topic.thumbnail.url, only_path: false) %>">
<% end %>

<% content_for :header do %>
<style>
.main-header, .hero-tron { background: <%= @topic.color %>; }
.main-header .navbar-makigas { background: rgba(0, 0, 0, 0.25); }
</style>
<% end %>

<% content_for :hero do %>
  <div class="media playlist-data">
    <div class="media-body media-middle">
      <h1 class="playlist-title"><%= @topic.title %></h1>
      <p class="playlist-description"><%= @topic.description %></p>
    </div>
    <div class="media-right media-middle hidden-xs">
      <%= image_tag @topic.thumbnail.url(:small), srcset: "#{@topic.thumbnail.url(:default)} 2x" %>
    </div>
  </div>
<% end %>

<div class="grid-table row">
<% @topic.playlists.each do |pl| %>
<div class="col-xs-6 col-sm-4 col-lg-3">
<%= link_to pl do %>
<div class="playlist panel panel-default">
  <span class="badge"><%= t('.episode', count: pl.videos.visible.count) %></span>
  <%= image_tag pl.thumbnail.url(:default), srcset: "#{pl.thumbnail.url(:hidef)} 2x" %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= pl.title %></h3>
  </div>
</div>
<% end %>
</div>
<% end %>
</div>
