<h4 class="card-header"><%= t('.this_playlist') %></h4>
<div class="media media-summary-card media-summary-card-with-hover">
  <%= link_to @video.playlist do %>
    <div class="media-left hidden-xs">
      <%= image_tag @video.playlist.thumbnail.url(:small), srcset: "#{@video.playlist.thumbnail.url(:default)} 2x" %>
    </div>
    <div class="media-body media-middle">
      <h4 class="media-heading"><%= @video.playlist.title %></h4>
      <p><%= t('.explore_other_videos', count: @video.playlist.videos.count) %></p>
    </div>
  <% end %>
</div>

<h4 class="card-header"><%= t('.this_topic') %></h4>
<% if @video.playlist.topic %>
  <div class="media media-summary-card media-summary-card-with-hover">
    <%= link_to @video.playlist.topic do %>
      <div class="media-left hidden-xs">
        <%= image_tag @video.playlist.topic.thumbnail.url(:small), srcset: "#{@video.playlist.topic.thumbnail.url(:default)} 2x" %>
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading"><%= @video.playlist.topic.title %></h4>
        <p><%=  @video.playlist.topic.description %></p>
      </div>
    <% end %>
  </div>
<% end %>
