<%= horizontal_form_for @video, url: @video.persisted? ? playlist_video_path(@video, playlist_id: @playlist) : videos_path do |f| %>
    
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :youtube_id %>

  <div class="form-group row">
    <%= f.label :natural_duration, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.time_field :natural_duration, step: 1, value: @video.natural_duration %>
    </div>
  </div>

  <%= f.association :playlist %>
  <%= f.input :thumbnail %>
  <%= content_tag :div, class: 'form-group' do %>
    <%= image_tag @video.thumbnail(:md), class: 'col-sm-offset-3 img-thumbnail' %>
  <% end if @video.thumbnail.present? %>
  <%= f.button :submit, class: 'btn-default col-sm-offset-3' %>
<% end %>
