<%= form_for @video, url: @video.persisted? ? playlist_video_path(@video, playlist_id: @playlist) : videos_path, class: 'form-horizontal' do |f| %>

  <% if @video.errors.any? %>
    <div class="alert alert-danger"><%= t('.errors') %></div>
    <%= @video.errors.full_messages %>
  <% end %>

  <fieldset>
    <legend><%= t('.basic_information') %></legend>

    <div class="form-group row">
      <%= f.label :title, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :description, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :youtube_id, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">www.youtube.com/watch?v=</span>
          <%= f.text_field :youtube_id, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :natural_duration, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.time_field :natural_duration, step: 1, value: @video.natural_duration %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :playlist, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
      <%= f.select :playlist_id,
          options_from_collection_for_select(Playlist.all, :id, :title),
          {}, { class: 'form-control' } %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :thumbnail, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.label :thumbnail, class: 'btn btn-primary' do %>
          <%= t('.search') %> <%= f.file_field :thumbnail, style: 'display: none;' %>
        <% end %>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend><%= t('.management') %></legend>
    <div class="form-group row">
      <div class="col-sm-8 col-sm-offset-4">
        <%= f.submit t('.save'), class: 'btn btn-success' %>
      </div>
    </div>
  </fieldset>

<% end %>
