<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="es-ES">
  <title type="text">makigas</title>
  <subtitle type="text">Vídeos recientes publicados en makigas</subtitle>
  <updated><%= @updated_at.iso8601 %></updated>
  <id><%= feed_videos_url %></id>
  <icon><%= URI.join(root_url, 'makigas.png') %></icon>
  <logo><%= URI.join(root_url, 'makigas.png') %></logo>
  <link rel="self" href="<%= feed_videos_url %>" type="application/atom+xml" />
  <link rel="alternate" href="<%= videos_url %>" type="text/html" />
  <author><name>makigas.es</name></author>
  <generator uri="https://github.com/makigas/makigas">makigas.es</generator>
  <%- @videos.each do |video| -%>
    <%= render 'videos/atom', video: video %>
  <%- end -%>
</feed>
