<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="es-ES">
  <title type="text">makigas</title>
  <subtitle type="text">Vídeos recientes publicados en makigas</subtitle>
  <updated><%= @videos.pluck(:updated_at).max.iso8601 %></updated>
  <id><%= videos_url(format: :atom) %></id>
  <icon><%= URI.join(root_url, 'makigas.png') %></icon>
  <logo><%= URI.join(root_url, 'makigas.png') %></logo>
  <link rel="self" href="<%= videos_url(format: :atom) %>" type="application/atom+xml" />
  <link rel="alternate" href="<%= videos_url %>" type="text/html" />
  <author><name>makigas.es</name></author>
  <generator uri="https://github.com/makigas/makigas">makigas.es</generator>
  <%= render partial: 'video', collection: @videos %>
</feed>
