<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="list-group video-list-group">
  <% @videos.each do |v| %>
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><%= link_to v.title, v %></h4>
      <p><%= v.description %></p>
      <p class="metadata">
        <%= t('.duration', duration: running_time(v.duration)) %> &bull;
        <%= t('.playlist_html', playlist: link_to(v.playlist.title, v.playlist)) %>
        <% if v.playlist.topic %>
          &bull; <%= t('.topic_html', topic: link_to(v.playlist.topic.title, v.playlist.topic)) %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<div class="paginator">
  <%= paginate @videos %>
</div>