<% content_for :title, "#{t('.meta.title')} – makigas" %>
<% content_for :description, t('.meta.description') %>

<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="videoexplorer">
  <%= render Six::Base::WrapperComponent.new(classes: 'videoexplorer__wrap') do %>
    <%= render Six::Base::ButtonComponent.new(classes: 'videoexplorer__toggle', id: 'sToggleExplorer').with_content('Filtrar por...') %>
    <div class="videoexplorer__sidebar">
      <section class="videoexplorer__search__block">
        <header class="videoexplorer__search__title">
          Filtrar por duración
        </header>
        <%= render(Six::Explorer::SearchPillComponent.new(url: videos_path(params.permit(:topic, :tags))).with_content('Todos')) if params[:length].present? %>
        <%= render Six::Explorer::SearchPillComponent.new(active: params[:length] == 'short', url: videos_path(params.permit(:topic, :tags).merge(length: :short))).with_content('Cortos (<5 min)') %>
        <%= render Six::Explorer::SearchPillComponent.new(active: params[:length] == 'medium', url: videos_path(params.permit(:topic, :tags).merge(length: :medium))).with_content('Medios (5 a 15 min)') %>
        <%= render Six::Explorer::SearchPillComponent.new(active: params[:length] == 'long', url: videos_path(params.permit(:topic, :tags).merge(length: :long))).with_content('Largos (>15 min)') %>
      </section>

      <section class="videoexplorer__search__block">
        <header class="videoexplorer__search__title">
          Filtrar por categoría
        </header>
        <%= render(Six::Explorer::SearchPillComponent.new(url: videos_path(params.permit(:length, :tags))).with_content('Todos')) if params[:topic].present? %>
        <% Topic.all.each do |topic| %>
          <%= render(Six::Explorer::SearchPillComponent.new(active: params[:topic].present? && params[:topic].include?(topic.slug), url: videos_path(params.permit(:length, :tags).merge(topic: [topic.slug]))).with_content(topic.title)) %>
        <% end %>
      </section>
    </div>
    <div class="videoexplorer__list">
      <% if params[:q].present? %>
        <h3>Resultados de búsqueda para: <%= params[:q] %></h3>
      <% end %>
      <% @videos.each do |video| %>
        <%= render Six::Explorer::VideoListItemComponent.new(video: video) %>
      <% end %>
      <div class="paginator">
        <%= paginate @videos %>
      </div>
    </div>
  <% end %>
</div>
