<% content_for :title, "#{@video.position}. #{@video.title} – #{@video.playlist.title} – makigas" %>
<% content_for :description, @video.description %>
<% content_for :twitter do %>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@makigas">
<meta name="twitter:title" content="<%= @video.position %>. <%= @video.title %>">
<meta name="twitter:description" content="<%= @video.description %>">
<meta name="twitter:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :facebook do %>
<meta property="og:url" content="<%= canonical_url %>">
<meta property="og:title" content="<%= @video.position %>. <%= @video.title %>">
<meta property="og:type" content="website">
<meta property="og:description" content="<%= @video.description %>">
<meta property="og:site_name" content="makigas">
<meta property="og:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>

<% if @video.playlist.topic %>
<style>
/* Override default page colors with my own. */
.main-header, .hero-tron { background: <%= @video.playlist.topic.color %>; }
.main-header .navbar-makigas { background: rgba(0, 0, 0, 0.25); }
</style>
<% end %>

<%= content_for :hero do %>
  <h1><%= @video.position %>. <%= @video.title %></h1>
  <p><%= t('.part_of_series_html', playlist: link_to(@video.playlist.title, playlist_path(@video.playlist))) %></p>
<% end %>

<div class="row video-player">
  <div class="video-player-column col-lg-10 col-lg-offset-1">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @video.youtube_id %>">
      </iframe>
    </div>
  </div>
</div>

<div class="row video-toolbar">
  <div class="col-lg-10 col-lg-offset-1">
  <% unless @video.first? %>
  <%= link_to t('.previous'), playlist_video_path(@video.higher_item, playlist_id: @playlist), class: 'pull-left btn btn-default' %>
  <% end %>
  
  <% unless @video.last? %>
  <%= link_to t('.next'), playlist_video_path(@video.lower_item, playlist_id: @playlist), class: 'pull-right btn btn-default' %>
  <% end %>
  </div>
</div>

<div class="row video-information">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active">
          <a href="#description" aria-controls="description" role="tab" data-toggle="tab"><%= t('.description') %></a>
        </li>
        <li role="presentation">
          <a href="#playlist" aria-controls="playlist" role="tab" data-toggle="tab"><%= t('.playlist') %></a>
        </li>
        <li role="presentation">
          <a href="#transcription" aria-controls="transcription" role="tab" data-toggle="tab"><%= t('.transcription') %></a>
        </li>
        <li role="presentation">
          <a href="#downloads" aria-controls="downloads" role="tab" data-toggle="tab"><%= t('.downloads') %></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="description">
          <h4><%= t('.description') %></h4>
          <%= to_markdown @video.description %>
          <p><%= link_to t('.watch_on_youtube'), "https://youtu.be/#{@video.youtube_id}", target: :blank, class: "btn btn-default" %></p>
        </div>
        <div class="tab-pane" role="tabpanel" id="playlist">
          <h4><%= t('.playlist') %></h4>
          <div class="playlist-container">
          <% @playlist.videos.each do |v| %>
            <%= link_to raw("#{v.position}. #{v.title} <span class=\"text-muted\">&bull; #{running_time(v.duration)}</span>"), playlist_video_path(v, playlist_id: @playlist), class: "list-group-item #{'list-group-item-info' if v == @video}" %>
          <% end %>
          </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="transcription">
          <h4><%= t('.transcription') %></h4>
          <p><%= t('.content_not_available') %></p>
        </div>
        <div class="tab-pane" role="tabpanel" id="downloads">
          <h4><%= t('.downloads') %></h4>
          <p><%= t('.content_not_available') %></p>
        </div>
      </div>
    </div>
  </div>
</div>