<% content_for :title, "#{@video.position}. #{@video.title} – #{@video.playlist.title} – makigas" %>
<% content_for :description, @video.description %>
<% content_for :twitter do %>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@makigas">
<meta name="twitter:title" content="<%= @video.position %>. <%= @video.title %>">
<meta name="twitter:description" content="<%= @video.description %>">
<meta name="twitter:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :facebook do %>
<meta property="og:url" content="<%= canonical_url %>">
<meta property="og:title" content="<%= @video.position %>. <%= @video.title %>">
<meta property="og:type" content="website">
<meta property="og:description" content="<%= @video.description %>">
<meta property="og:site_name" content="makigas">
<meta property="og:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :meta do %>
  <% if @video.scheduled? %>
  <meta name="robots" content="noindex">
  <% end %>
<% end %>
<% content_for :body_classes, 'video-player-page' %>

<% if @video.playlist.topic %>
<style>
/* Override default page colors with my own. */
.main-header, .hero-tron { background: <%= @video.playlist.topic.color %>; }
.main-header .navbar-makigas { background: rgba(0, 0, 0, 0.25); }
</style>
<% end %>

<%= content_for :hero do %>
  <h1><%= @video.position %>. <%= @video.title %></h1>
  <p><%= t('.part_of_series_html', playlist: link_to(@video.playlist.title, playlist_path(@video.playlist))) %></p>
<% end %>

<div class="row video-player">
  <div class="video-player-column">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/<%= @video.youtube_id %>?showinfo=0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<div class="video-toolbar">
  <% unless @video.first? %>
  <%= link_to t('.previous'), playlist_video_path(@video.higher_item, playlist_id: @playlist), class: 'pull-left btn btn-default' %>
  <% else %>
  <%= link_to t('.previous'), '#', disabled: true, class: 'disabled pull-left btn btn-default' %>
  <% end %>

  <% unless @video.last? %>
  <%= link_to t('.next'), playlist_video_path(@video.lower_item, playlist_id: @playlist), class: 'pull-right btn btn-default' %>
  <% else %>
  <%= link_to t('.next'), '#', disabled: true, class: 'disabled pull-right btn btn-default' %>
  <% end %>

  <%= link_to t('.watch_on_youtube'), "https://www.youtube.com/watch?v=#{@video.youtube_id}&list=#{@video.playlist.youtube_id}&index=#{@video.position}", class: 'btn btn-default' %>
</div>

<div class="video-information">
<div class="row">

      <div class="col-md-7">
        <%= to_markdown @video.description %>
        <p>
          <%= t('.release_date_html', date: content_tag(:time, l(@video.published_at.to_date, format: :long), datetime: @video.published_at.to_time.iso8601)) %> &bull;
          <%= t('.duration', duration: running_time(@video.duration)) %>
        </p>

        <h4 class="card-header"><%= t('.this_playlist') %></h4>
        <div class="media media-summary-card media-summary-card-with-hover">
          <%= link_to @video.playlist do %>
            <div class="media-left hidden-xs">
              <%= image_tag @video.playlist.thumbnail.url(:small), srcset: "#{@video.playlist.thumbnail.url(:default)} 2x" %>
            </div>
            <div class="media-body media-middle">
              <h4 class="media-heading"><%= @video.playlist.title %></h4>
              <p><%= t('.explore_other_videos', count: @video.playlist.videos.count) %></p>
            </div>
          <% end %>
        </div>

        <h4 class="card-header"><%= t('.this_topic') %></h4>
        <% if @video.playlist.topic %>
        <div class="media media-summary-card media-summary-card-with-hover">
          <%= link_to @video.playlist.topic do %>
            <div class="media-left hidden-xs">
              <%= image_tag @video.playlist.topic.thumbnail.url(:small), srcset: "#{@video.playlist.topic.thumbnail.url(:default)} 2x" %>
            </div>
            <div class="media-body media-middle">
              <h4 class="media-heading"><%= @video.playlist.topic.title %></h4>
              <p><%=  @video.playlist.topic.description %></p>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>

      <div class="col-md-5">
        <div id="disqus_thread"></div>
        <script>
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//makigas.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </div>
</div>
</div>
