<% content_for :title, "#{@video.position}. #{@video.title} – #{@video.playlist.title} – makigas" %>
<% content_for :description, @video.description %>
<% content_for(:tags, @video.tags.sort.join(' ')) if @video.tags.present? %>
<% content_for :twitter do %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@makigas">
  <meta name="twitter:title" content="<%= @video.position %>. <%= @video.title %>">
  <meta name="twitter:description" content="<%= @video.description %>">
  <meta name="twitter:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :facebook do %>
  <meta property="og:url" content="<%= canonical_url %>">
  <meta property="og:title" content="<%= @video.position %>. <%= @video.title %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= @video.description %>">
  <meta property="og:site_name" content="makigas">
  <meta property="og:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :meta do %>
  <%= tag(:link, rel: :alternate, href: playlist_url(@playlist, format: :atom), title: t('.meta.playlist_feed', playlist: @playlist.title), type: 'application/atom+xml') %>
  <%= tag(:link, rel: :alternate, href: topic_url(@playlist.topic, format: :atom), title: t('.meta.topic_feed', topic: @playlist.topic.title), type: 'application/atom+xml') if @playlist.topic.present? %>
  <% if @video.scheduled? %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>
<% content_for :jsonld, JSON.pretty_generate(video_object_jsonld(@video)).html_safe %>
<% content_for :body_classes, 'video-player-page' %>
<% if @video.playlist.topic %>
  <% content_for :header do %>
    <style>
      .main-header, .hero-tron { background: <%= @video.playlist.topic.color %>; }
      .main-header .navbar-makigas { background: rgba(0, 0, 0, 0.25); }
    </style>
  <% end %>
<% end %>
<article class="videoinfo">
  <section class="videoinfo__head">
    <div class="videoinfo__player">
      <%= render Six::Base::YoutubeEmbedComponent.new(youtube_id: @video.youtube_id) %>
    </div>
  </section>

  <%= render Six::Base::WrapperComponent.new(tag: :section, classes: 'videoinfo__body', breath: true) do %>
    <div class="videoinfo__text">
      <header>
        <%= render(Six::Base::ButtonGroupComponent.new(style: :flex)) do |g| %>
          <%= g.button(href: playlist_video_path(@video.higher_item || @video, playlist_id: @playlist), rel: :prev) { 'Vídeo anterior' } %>
          <%= g.button(href: playlist_video_path(@video.lower_item || @video, playlist_id: @playlist), rel: :next) { 'Vídeo siguiente' } %>
        <% end %>
        <p class="videoinfo__pldata">
          <%= link_to @video.playlist.title, playlist_path(@video.playlist), class: 'videoinfo__pllink' %>
        </p>
        <h1 class="videoinfo__title"><%= @video.title %></h1>
        <p class="videoinfo__meta">
          <%= content_tag(:time, l(@video.published_at.to_date, format: :long), datetime: @video.published_at.to_time.iso8601) %> &bull;
          <%= t('.duration', duration: running_time(@video.duration)) %>
          <% if @video.tags.present? %>
            &bull;
            <% @video.tags.each do |tag| %>
              <%= link_to "##{tag}", videos_path(tag:), class: 'videoinfo__tag' %>
            <% end %>
          <% end %>
        </p>
        <p class="videoinfo__description">
          <%= @video.description %>
        </p>
      </header>
      <% if @video.show_note.present? %>
        <div class="videoinfo__shownotes">
          <%= to_markdown(@video.show_note.content).html_safe %>
        </div>
      <% else %>
        <p class="videoinfo__nonotes">
          <strong>Este vídeo lamentablemente todavía no tiene notas de episodio.</strong>
          Todavía quedan algunos vídeos en este sitio web que no tienen artículos
          de texto por si te gusta más leer que ver vídeos, y parece que esta
          página es una de ellas.

          <% if @video.transcription.present? %>
          Hay una transcripción del audio disponible
          para ayudarte a llegar a este vídeo que puede que te ayude.
          <% end %>
        </p>
      <% end %>
      <% if @video.transcription.present? %>
        <details class="videoinfo__transcription">
          <summary>Desplegar transcripción del episodio</summary>
          <%= to_markdown(@video.transcription.content).html_safe %>
        </details>
      <% end %>
    </div>
    <aside class="videoinfo__links">
      <%= render(Six::Lesson::PartOfPlaylistComponent.new(video: @video)) if @video.playlist.present? %>
      <% if @video.playlist.forum_url.present? %>
        <%= render Six::Utils::ForumCallToActionComponent.new(url: @video.playlist.forum_url) %>
        <%= render Six::Utils::DiscordSecondaryCallToActionComponent.new %>
      <% else %>
        <%= render Six::Utils::DiscordCallToActionComponent.new %>
      <% end %>
    </aside>
  <% end %>
</article>
