<% content_for :title, "#{@video.position}. #{@video.title} – #{@video.playlist.title} – makigas" %>
<% content_for :description, @video.description %>
<% content_for(:tags, @video.tags.sort.join(' ')) if @video.tags.present? %>
<% content_for :twitter do %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@makigas">
  <meta name="twitter:title" content="<%= @video.position %>. <%= @video.title %>">
  <meta name="twitter:description" content="<%= @video.description %>">
  <meta name="twitter:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :facebook do %>
  <meta property="og:url" content="<%= canonical_url %>">
  <meta property="og:title" content="<%= @video.position %>. <%= @video.title %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= @video.description %>">
  <meta property="og:site_name" content="makigas">
  <meta property="og:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :meta do %>
  <%= tag(:link, rel: :alternate, href: playlist_url(@playlist, format: :atom), title: t('.meta.playlist_feed', playlist: @playlist.title), type: 'application/atom+xml') %>
  <%= tag(:link, rel: :alternate, href: topic_url(@playlist.topic, format: :atom), title: t('.meta.topic_feed', topic: @playlist.topic.title), type: 'application/atom+xml') if @playlist.topic.present? %>
  <% if @video.scheduled? %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>
<% content_for :body_classes, 'video-player-page' %>
<% if @video.playlist.topic %>
  <% content_for :header do %>
    <style>
      .main-header, .hero-tron { background: <%= @video.playlist.topic.color %>; }
      .main-header .navbar-makigas { background: rgba(0, 0, 0, 0.25); }
    </style>
  <% end %>
<% end %>
<%= render Six::Base::WrapperComponent.new(tag: :article, classes: 'videoinfo', breath: true) do %>
  <aside class="videoinfo__player">
    <%= render Six::Base::YoutubeEmbedComponent.new(youtube_id: @video.youtube_id) %>
  </aside>
  <section class="videoinfo__text">
    <header>
      <%= render(Six::Base::ButtonGroupComponent.new(style: :flex)) do |g| %>
        <%= g.button(href: playlist_video_path(@video.higher_item || @video, playlist_id: @playlist)) { 'Vídeo anterior' } %>
        <%= g.button(href: playlist_video_path(@video.lower_item || @video, playlist_id: @playlist)) { 'Vídeo siguiente' } %>
      <% end %>
      <p class="videoinfo__pldata">
        <%= link_to @video.playlist.title, playlist_path(@video.playlist), class: 'videoinfo__pllink' %>
      </p>
      <h1 class="videoinfo__title"><%= @video.title %></h1>
      <p class="videoinfo__description">
        <%= @video.description %>
      </p>
      <p class="videoinfo__meta"><%= t('.release_date_html', date: content_tag(:time, l(@video.published_at.to_date, format: :long), datetime: @video.published_at.to_time.iso8601)) %></p>
      <p class="videoinfo__meta"><%= t('.duration', duration: running_time(@video.duration)) %></p>
      <p class="videoinfo__meta"><%= link_to t('.watch_on_youtube'), "https://www.youtube.com/watch?v=#{@video.youtube_id}&list=#{@video.playlist.youtube_id}&index=#{@video.position}" %></p>
    </header>
    <% if @video.show_note.present? %>
      <div class="videoinfo__shownotes">
        <h3><%= t('.show_notes') %></h3>
        <%= to_markdown(@video.show_note.content).html_safe %>
      </div>
    <% end %>
  </section>
  <aside class="videoinfo__links">
    <%= render Six::Utils::DiscordCallToActionComponent.new %>
  </aside>
<% end %>
