<% content_for :title, "#{@video.position}. #{@video.title} – #{@video.playlist.title} – makigas" %>
<% content_for :description, @video.description %>
<% content_for(:tags, @video.tags.sort.join(' ')) if @video.tags.present? %>
<% content_for :twitter do %>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@makigas">
<meta name="twitter:title" content="<%= @video.position %>. <%= @video.title %>">
<meta name="twitter:description" content="<%= @video.description %>">
<meta name="twitter:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :facebook do %>
<meta property="og:url" content="<%= canonical_url %>">
<meta property="og:title" content="<%= @video.position %>. <%= @video.title %>">
<meta property="og:type" content="website">
<meta property="og:description" content="<%= @video.description %>">
<meta property="og:site_name" content="makigas">
<meta property="og:image" content="<%= image_url(@video.playlist.card.url, only_path: false) %>">
<% end %>
<% content_for :meta do %>
  <%= tag(:link, rel: :alternate, href: feed_playlist_url(@playlist), title: t('.meta.playlist_feed', playlist: @playlist.title), type: 'application/atom+xml') %>
  <%= tag(:link, rel: :alternate, href: feed_topic_url(@playlist.topic), title: t('.meta.topic_feed', topic: @playlist.topic.title), type: 'application/atom+xml') if @playlist.topic.present? %>
  <% if @video.scheduled? %>
  <meta name="robots" content="noindex">
  <% end %>
<% end %>
<% content_for :body_classes, 'video-player-page' %>

<% if @video.playlist.topic %>
<% content_for :header do %>
<style>
.main-header, .hero-tron { background: <%= @video.playlist.topic.color %>; }
.main-header .navbar-makigas { background: rgba(0, 0, 0, 0.25); }
</style>
<% end %>
<% end %>

<%= content_for :hero do %>
  <h1><%= @video.position %>. <%= @video.title %></h1>
  <p><%= t('.part_of_series_html', playlist: link_to(@video.playlist.title, playlist_path(@video.playlist))) %></p>
<% end %>

<div class="row video-player">
  <div class="video-player-column">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/<%= @video.youtube_id %>?showinfo=0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<% unless @video.scheduled? %>
<div class="video-toolbar">
  <% unless @video == @playlist.videos.visible.first %>
  <%= link_to t('.previous'), playlist_video_path(@video.higher_item, playlist_id: @playlist), class: 'pull-left btn btn-default' %>
  <% else %>
  <%= link_to t('.previous'), '#', disabled: true, class: 'disabled pull-left btn btn-default' %>
  <% end %>

  <% unless @video == @playlist.videos.visible.last %>
  <%= link_to t('.next'), playlist_video_path(@video.lower_item, playlist_id: @playlist), class: 'pull-right btn btn-default' %>
  <% else %>
  <%= link_to t('.next'), '#', disabled: true, class: 'disabled pull-right btn btn-default' %>
  <% end %>

  <%= link_to t('.watch_on_youtube'), "https://www.youtube.com/watch?v=#{@video.youtube_id}&list=#{@video.playlist.youtube_id}&index=#{@video.position}", class: 'btn btn-default' %>
</div>
<% else %>
  <p class="alert alert-warning"><strong><%= t('.preview') %></strong> <%= t('.unlisted') %></p>
<% end %>

<div class="video-information">
<div class="row">

      <div class="col-md-7">
        <p><%= to_markdown(@video.description).html_safe %></p>

        <% unless @video.links.empty? %>
          <p><%= t('.links') %>:</p>
          <ul>
            <% @video.links.each do |link| %>
              <li><%= link_to link.name, link.url %>: <%= link.description %></li>
            <% end %>
          </ul>
        <% end %>

        <% if @video.transcription.present? %>
          <h3><%= t('.transcription') %></h3>
          <%= to_markdown(@video.transcription.content).html_safe %>
        <% end %>

        <p>
          <%= t('.release_date_html', date: content_tag(:time, l(@video.published_at.to_date, format: :long), datetime: @video.published_at.to_time.iso8601)) %> &bull;
          <%= t('.duration', duration: running_time(@video.duration)) %>
        </p>

        <%= render(partial: 'cards') unless @video.transcription.present? %>
      </div>

      <div class="col-md-5">
        <%= render(partial: 'cards') if @video.transcription.present? %>
        <div class="discord-cta">
          <%= link_to '/discord' do %>
            <p class="lead">👉 ¿Algo no quedó claro?</p>
            <p>Únete a La Comunidad de Makigas en Discord y pide consejo a más desarrolladores si no sabes por dónde seguir.</p>
          <% end %>
        </div>
        <div id="disqus_thread"></div>
        <script>
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//makigas.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </div>
</div>
