<div class="videolist">
  <p class="videolist__title">
    <%= link_to video.title, playlist_video_path(video, playlist_id: video.playlist) %>
  </p>
  <p class="videolist__description">
    <%= video.description %>
  </p>
  <%= render Six::Utils::MetaGroupComponent.new do |group| %>
    <%= group.meta(icon: 'clock') { "Duración: #{helpers.running_time(video.duration)}" } %>
    <% if video.playlist.present? %>
      <%= group.meta(icon: 'list') do %>
        Serie: <%= link_to video.playlist.title, playlist_path(video.playlist) %>
      <% end %>
    <% end %>
    <% if video.playlist.topic.present? %>
      <%= group.meta(icon: 'book-open') do %>
        Tema: <%= link_to video.playlist.topic.title, topic_path(video.playlist.topic) %>
      <% end %>
    <% end %>
  <% end %>
  <% if video.tags.present? %>
    <%= render Six::Utils::MetaGroupComponent.new do |group| %>
      <%= group.meta(icon: 'hash') do %>
        Etiquetas: <% video.tags.each do |tag| %>
          <%= link_to tag, videos_path(tag: tag) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
