<% content_for :header do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('.dashboard'), :dashboard %></li>
    <li class="breadcrumb-item current"><%= t('.opinions') %></li>
  </ol>
  <h1><%= t('.opinions') %></h1>
<% end %>

<% content_for :toolbar do %>
  <%= link_to t('.new_opinion'), [:new, :dashboard, :opinion], class: 'btn btn-success' %>
<% end %>

<table class="table table-default">
  <thead>
    <tr>
      <th><%= t('.from') %></th>
      <th><%= t('.operations') %></th>
    </tr>
  </thead>
  <tbody>
    <% @opinions.each do |opinion| %>
    <tr>
      <td><%= link_to opinion.from, [:dashboard, opinion] %></td>
      <td>
        <%= link_to t('.edit'), [:edit, :dashboard, opinion], class: 'btn btn-xs btn-default' %>
        <%= button_to t('.destroy'), [:dashboard, opinion], method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: t('.really_destroy') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paginator">
  <%= paginate @opinions, theme: 'twitter-bootstrap-3' %>
</div>