<% content_for :header do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('.dashboard'), :dashboard %></li>
    <li class="breadcrumb-item"><%= link_to t('.opinions'), [:dashboard, :opinions] %></li>
    <li class="breadcrumb-item current"><%= t('.new_opinion') %></li>
  </ol>
  <h1><%= t('.new_opinion') %></h1>
<% end %>

<% content_for :toolbar do %>
  <%= link_to t('.cancel'), [:dashboard, :opinions], class: 'btn btn-outline-secondary' %>
<% end %>

<%= render 'form' %>