<% content_for :header do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('.dashboard'), :dashboard %></li>
    <li class="breadcrumb-item"><%= link_to t('.opinions'), [:dashboard, :opinions] %></li>
    <li class="breadcrumb-item current"><%= @opinion %></li>
  </ol>
  <h1><%= @opinion %></h1>
<% end %>

<% content_for :toolbar do %>
  <%= link_to t('.edit'), [:edit, :dashboard, @opinion], class: 'btn btn-default' %>
  <%= button_to t('.destroy'), [:dashboard, @opinion], method: :delete, class: 'btn btn-danger', data: { confirm: t('.really_destroy') } %>
<% end %>

<table class="table table-default">
  <tr>
    <td><%= t('.from') %></td>
    <td><%= @opinion.from %></td>
  </tr>
  <tr>
    <td><%= t('.message') %></td>
    <td><%= @opinion.message %></td>
  </tr>
  <tr>
    <td><%= t('.url') %></td>
    <td><%= @opinion.url %></td>
  </tr>
  <tr>
    <td><%= t('.photo') %></td>
    <td><%= image_tag @opinion.photo.url(:small) %></td>
  </tr>
</table>