<% content_for :header do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('.dashboard'), :dashboard %></li>
    <li class="breadcrumb-item"><%= link_to t('.videos'), [:dashboard, :videos] %></li>
    <li class="breadcrumb-item current"><%= @video %></li>
  </ol>
  <h1><%= @video %></h1>
<% end %>
<% content_for :toolbar do %>
  <%= link_to t('.edit'), [:edit, :dashboard, @video], class: 'btn btn-outline-secondary' %>
  <%= button_to t('.destroy'), [:dashboard, @video], method: :delete, class: 'btn btn-danger', data: { confirm: t('.really_destroy') } %>
<% end %>
<table class="table table-default">
  <tr>
    <td><%= t('.title') %></td>
    <td><%= @video.title %></td>
  </tr>
  <tr>
    <td><%= t('.description') %></td>
    <td><%= @video.description %></td>
  </tr>
  <tr>
    <td><%= t('.youtube_id') %></td>
    <td><%= link_to @video.youtube_id, "https://www.youtube.com/watch?v=#{@video.youtube_id}" %></td>
  </tr>
  <tr>
    <td><%= t('.twitch_id') %></td>
    <td><%= link_to(@video.twitch_id, "https://twitch.tv/videos/#{@video.twitch_id}") if @video.twitch_id.present? %></td>
  </tr>
  <tr>
    <td><%= t('.duration') %></td>
    <td><%= running_time @video.duration %> (<%= t('.seconds', count: @video.duration) %>)</td>
  </tr>
  <tr>
    <td><%= t('.playlist') %></td>
    <td><%= link_to @video.playlist.title, [:dashboard, @video.playlist] %></td>
  </tr>
  <tr>
    <td><%= t('.tags') %></td>
    <td><%= @video.tags.sort.join(' ') if @video.tags.present? %></td>
  </tr>
  <tr>
    <td><%= t('.published_at') %></td>
    <td><%= l @video.published_at %></td>
  </tr>
  <tr>
    <td>
      <%= t('.show_notes') %>
    </td>
    <td>
      <div class="actions">
        <%= link_to t('.edit'), dashboard_playlist_video_show_note_path(video_id: @video.slug, playlist_id: @video.playlist.slug), class: 'btn btn-sm btn-outline-secondary' %>
        <% if @video.show_note.present? %>
          <%= button_to t('.destroy'), [:dashboard, @playlist, @video, :show_note], method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: '¿De verdad?' } %>
        <% end %>
      </div>
      <%= @video.show_note.present? ? to_markdown(@video.show_note.content).html_safe : t('.no_show_notes') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= t('.transcription') %>
    </td>
    <td>
      <div class="actions">
        <%= link_to t('.edit'), dashboard_playlist_video_transcription_path(video_id: @video.slug, playlist_id: @video.playlist.slug), class: 'btn btn-sm btn-outline-secondary' %>
        <% if @video.transcription.present? %>
          <%= button_to t('.destroy'), [:dashboard, @playlist, @video, :transcription], method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: '¿De verdad?' } %>
        <% end %>
      </div>
      <% if @video.transcription.present? %>
        <%= to_markdown(@video.transcription.content).html_safe %>
      <% else %>
        <p><%= t('.no_transcription') %></p>
      <% end %>
    </td>
  </tr>
</table>
