<% content_for :header do %>
  <ol class="breadcrumb">
    <li><%= link_to t('.dashboard'), :dashboard %></li>
    <li><%= link_to t('.videos'), [:dashboard, :videos] %></li>
    <li class="current"><%= @video %></li>
  </ol>
  <h1><%= @video %></h1>
<% end %>

<% content_for :toolbar do %>
  <%= link_to t('.edit'), [:edit, :dashboard, @video], class: 'btn btn-default' %>
  <%= button_to t('.destroy'), [:dashboard, @video], method: :delete, class: 'btn btn-danger', data: { confirm: t('.really_destroy') } %>
<% end %>

<table class="table table-default">
  <tr>
    <td><%= t('.title') %></td>
    <td><%= @video.title %></td>
  </tr>
  <tr>
    <td><%= t('.description') %></td>
    <td><%= @video.description %></td>
  </tr>
  <tr>
    <td><%= t('.youtube_id') %></td>
    <td><%= link_to @video.youtube_id, "https://www.youtube.com/watch?v=#{@video.youtube_id}" %></td>
  </tr>
  <tr>
    <td><%= t('.duration') %></td>
    <td><%= running_time @video.duration %> (<%= t('.seconds', count: @video.duration) %>)</td>
  </tr>
  <tr>
    <td><%= t('.playlist') %></td>
    <td><%= link_to @video.playlist.title, [:dashboard, @video.playlist] %></td>
  </tr>
</table>