<% if @playlist.topic.present? %>
<style>
:root {
    --playlist-color: <%= @playlist.topic.color %>;
    <%= [10, 20, 30, 40, 50].each do |i| %>
    --playlist-lighten-<%= i %>: <%= @playlist.topic.color.paint.lighten(i) %>;
    <% end %>
    <%= [10, 20, 30, 40, 50].each do |i| %>
    --playlist-darken-<%= i %>: <%= @playlist.topic.color.paint.darken(i) %>;
    <% end %>
}
</style>
<% end %>

<%= render PlaylistHeaderComponent.new(@playlist) %>

<div class="wrapped wrapped--center">
  <%= render PlaylistVideoCardComponent.with_collection(@playlist.videos) %>
</div>