<% content_for :header do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('.dashboard'), :dashboard %></li>
    <li class="breadcrumb-item"><%= link_to t('.videos'), [:dashboard, :videos] %></li>
    <li class="breadcrumb-item"><%= link_to @video, [:dashboard, @video] %></li>
    <li class="breadcrumb-item current"><%= t('.transcription') %></li>
  </ol>
  <h1><%= @video %></h1>
<% end %>
<% content_for :toolbar do %>
  <%= link_to t('.cancel'), [:dashboard, @video], class: 'btn btn-outline-secondary' %>
<% end %>
<%= simple_form_for @transcription, url: dashboard_playlist_video_transcription_path(video_id: @video.slug, playlist_id: @playlist.slug) do |f| %>
  <%= f.input :content, input_html: { rows: 10 } %>
  <%= f.input :language, collection: [['es', 'es']], include_blank: false %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
