<%= form_for @playlist, class: 'form-horizontal' do |f| %>

  <% if @playlist.errors.any? %>
    <div class="alert alert-danger"><%= t('.errors') %></div>
  <% end %>

  <fieldset>
    <legend><%= t('.basic_information') %></legend>

    <div class="form-group row">
      <%= f.label :title, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :description, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :youtube_id, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">youtube.com/playlist?list=</span>
          <%= f.text_field :youtube_id, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :photo, class: 'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <p><%= f.label :photo, class: 'btn btn-primary' do %>
          <%= t('.search') %> <%= f.file_field :photo, style: 'display: none' %>
        <% end %></p>

        <% if @playlist.photo.present? %>
          <p><%= image_tag @playlist.photo.url(:md), class: 'responsible' %></p>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t('.management') %></legend>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-4">
        <%= f.submit t('.save'), class: 'btn btn-success' %>
      </div>
    </fieldset>
  </div>

<% end %>
