<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="grid-table row">
<% @playlists.each do |pl| %>
<div class="col-xs-6 col-sm-4 col-lg-3">
<%= link_to pl do %>
<div class="playlist panel panel-default">
  <span class="badge"><%= t('.episode', count: pl.videos.count) %></span>
  <%= image_tag "http://placehold.it/360x360", srcset: "http://placehold.it/720x720 2x" %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= pl.title %></h3>
  </div>
</div>
<% end %>
</div>
<% end %>
</div>
