<% content_for :title, "#{t('.meta.title')} – makigas" %>
<% content_for :description, t('.meta.description') %>

<% content_for :hero do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="grid-table row">
<% @playlists.each do |pl| %>
<div class="col-xs-6 col-sm-4 col-lg-3">
<%= link_to pl do %>
<div class="playlist panel panel-default">
  <span class="badge"><%= t('.episode', count: pl.videos.visible.count) %></span>
  <%= image_tag pl.thumbnail.url(:default), srcset: "#{pl.thumbnail.url(:hidef)} 2x" %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= pl.title %></h3>
  </div>
</div>
<% end %>
</div>
<% end %>
</div>
<div class="paginator">
  <%= paginate @playlists, theme: 'twitter-bootstrap-3' %>
</div>
