<% content_for :hero do %>
  <h1><%= @playlist.title %></h1>
  <p><%= @playlist.description %></p>
<% end %>

<div class="buttons-bar">
<div class="text-right">
<%= link_to 'Editar lista', edit_playlist_path(@playlist), class: 'btn btn-default' %>
<%= button_to 'Borrar lista', playlist_path(@playlist), method: :delete, class: 'btn btn-danger', data: { confirm: 'Esto borrará para siempre la lista.' } %>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="episodes-table list-group">
  <% @playlist.videos.each do |v| %>
    <%= link_to playlist_video_path(v, playlist_id: @playlist), class: 'list-group-item' do %>
      <div class="media">
        <div class="media-left hidden-xs">
          <%= image_tag v.thumbnail.url(:mini), srcset: "#{v.thumbnail.url(:mini_hdpi)} 2x", class: 'media-object' %>
        </div>
        <div class="media-body">
          <div class="badge video-duration"><%= running_time(v.duration) %></div>
          <h4 class="list-group-item-heading"><%= v.position %>. <%= v.title %></h4>
          <p><%= v.description %></p>
        </div>
      </div>
      <div class="list-group-buttons">
        <div class="pull-right">
          <%= button_to 'Editar', edit_playlist_video_path(v, playlist_id: @playlist), method: :get, class: 'btn btn-default btn-xs' %>
          <%= button_to 'Borrar', playlist_video_path(v, playlist_id: @playlist), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Esto borrará para siempre el vídeo' } %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>