<% content_for :hero do %>
  <h1><%= @playlist.title %></h1>
  <div class="row">
    <div class="col-md-9 col-sm-8">
      <p><%= @playlist.description %></p>
      <% unless @playlist.topic.nil? %>
      <h3 class="playlist-in-topic">Una lista de <%= link_to @playlist.topic.title, topic_path(@playlist.topic) %></h3>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-4 hidden-xs">
      <%= image_tag @playlist.photo.url(:md), class: 'img-responsive' %>
    </div>
  </div>
<% end %>

<div class="buttons-bar">
<div class="text-right">
<%= link_to 'Editar lista', edit_playlist_path(@playlist), class: 'btn btn-default' %>
<%= button_to 'Borrar lista', playlist_path(@playlist), method: :delete, class: 'btn btn-danger', data: { confirm: 'Esto borrará para siempre la lista.' } %>
</div>
</div>

<div class="list-group">
  <% @playlist.videos.each do |v| %>
  <div class="list-group-item">
    <div class="media">
      <div class="media-left hidden-xs">
        <%= image_tag v.thumbnail.url(:mini) %>
      </div>
      <div class="media-body">
        <h4 class="list-group-item-heading">
          <%= link_to "#{v.position}. #{v.title}", playlist_video_path(v, playlist_id: @playlist) %>
          <span class="small">&bull; <%= running_time(v.duration )%></span>
        </h4>
        <p class="list-group-item-text"><%= v.description %></p>
        <div class="list-group-item-text">
          <%= link_to 'Editar', edit_playlist_video_path(v, playlist_id: @playlist), class: 'btn btn-default btn-xs' %>
          <%= button_to 'Borrar', playlist_video_path(v, playlist_id: @playlist), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Esto borrará para siempre el vídeo' } %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
