<style>
/* Override default page colors with my own. */
.main-header, .hero-tron { background: <%= @playlist.topic.color %>; }
.main-header .navbar-makigas { background: rgba(0, 0, 0, 0.25); }
</style>

<% content_for :hero do %>
  <div class="media playlist-data">
    <div class="media-body media-middle">
      <h1 class="playlist-title"><%= @playlist.title %></h1>
      <p class="playlist-description"><%= @playlist.description %></p>
    </div>
    <div class="media-right media-middle hidden-xs">
      <%= image_tag @playlist.thumbnail.url(:small), srcset: "#{@playlist.thumbnail.url(:default)} 2x" %>
    </div>
  </div>
<% end %>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="episodes-table list-group">
  <% @playlist.videos.each do |v| %>
    <%= link_to playlist_video_path(v, playlist_id: @playlist), class: 'list-group-item' do %>
      <div class="badge video-duration"><%= running_time(v.duration) %></div>
      <h4 class="list-group-item-heading"><%= v.position %>. <%= v.title %></h4>
      <p><%= v.description %></p>
    <% end %>
  <% end %>
  </div>
</div>
</div>