<%= simple_form_for [:dashboard, @topic] do |form| %>
  <%= form.input :title %>
  <%= form.input :description, as: :text %>
  <%= form.input :color do %>
    <p>
      <%= form.color_field :color %>
    </p>
  <% end %>
  <%= form.association :parent_topic, include_blank: :translate %>
  <%= form.input :thumbnail, as: :file %>
  <%= form.input :forum_url %>
  <%= form.submit class: 'btn btn-success' %>
<% end %>
