<ol class="breadcrumb">
  <li><%= link_to t('.dashboard'), :dashboard %></li>
  <li><%= link_to t('.topics'), [:dashboard, :topics] %></li>
  <li><%= link_to @topic, [:dashboard, @topic] %></li>
  <li class="current"><%= t('.edit') %></li>
</ol>

<div class="page-header">
  <%= link_to t('.cancel'), [:new, :dashboard, @topic], class: 'btn btn-default pull-right' %>
  <h1><%= t('.edit') %></h1>
</div>

<%= render 'form' %>