<% content_for :header do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('.dashboard'), :dashboard %></li>
    <li class="breadcrumb-item"><%= link_to t('.topics'), [:dashboard, :topics] %></li>
    <li class="breadcrumb-item current"><%= @topic %></li>
  </ol>
  <h1><%= @topic %></h1>
<% end %>
<% content_for :toolbar do %>
  <%= link_to t('.edit'), [:edit, :dashboard, @topic], class: 'btn btn-outline-secondary' %>
  <%= button_to t('.destroy'), [:dashboard, @topic], method: :delete, class: 'btn btn-danger', data: { confirm: t('.really_destroy') } %>
<% end %>
<table class="table table-default">
  <tr>
    <td><%= t('.title') %></td>
    <td><%= @topic.title %></td>
  </tr>
  <tr>
    <td><%= t('.description') %></td>
    <td><%= @topic.description %></td>
  </tr>
  <tr>
    <td><%= t('.thumbnail') %></td>
    <td><%= image_tag @topic.thumbnail.url(:small) %></td>
  </tr>
  <tr>
    <td><%= t('.parent_topic') %></td>
    <td><%= @topic.parent_topic.try(:title) || t('.none') %></td>
  </tr>
  <tr>
    <td><%= t('.color') %></td>
    <td><%= content_tag(:span, @topic.color, class: 'label', style: "background-color: #{@topic.color}") %></td>
  </tr>
  <tr>
    <td><%= t('.playlists') %></td>
    <td>
      <ul>
        <% @topic.playlists.each do |playlist| %>
          <li><%= link_to playlist.title, [:dashboard, playlist] %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
