<footer class="main-footer">
  <div class="footer-links">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Esto es makigas</h3>
        <p>
        makigas es un sitio web y un canal de YouTube con tutoriales y
        videotutoriales en castellano sobre distintos temas relacionados
        con la programación y el desarrollo de software.
        </p>
        <p><%= link_to 'Acerca del proyecto', root_path %></p>
      </div>
      <div class="col-md-2 col-xs-6 col-lg-offset-2 col-md-offset-2">
        <h3>Sitio</h3>
        <ul>
          <li><%= link_to 'Principal', root_path %></li>
          <li><%= link_to 'Vídeos', videos_path %></li>
          <li><%= link_to 'Listas', playlists_path %></li>
          <li><%= link_to 'Temas', topics_path %></li>
          <li><%= link_to 'Comunidad', 'https://www.facebook.com/groups/makigas', target: 'blank' %></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-6">
        <h3>Social</h3>
        <ul>
          <li><%= link_to 'Facebook', 'https://www.facebook.com/makigas', target: 'blank' %></li>
          <li><%= link_to 'Twitter', 'https://twitter.com/makigas', target: 'blank' %></li>
          <li><%= link_to 'YouTube', 'https://youtube.com/makigas', target: 'blank' %></li>
          <li><%= link_to 'GitHub', 'https://github.com/makigas', target: 'blank' %></li>
          <li><%= link_to 'Telegram', 'https://www.telegram.me/makigas', target: 'blank' %></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="copyright-info">
    <div class="container">
    <div class="row">
      <div class="col-md-9 copyright-links">
        <p class="year"><strong>&copy; 2012 - 2016 makigas</strong></p>
        <p>
          <%= link_to 'Aviso legal', root_path %> &bull;
          <%= link_to 'Privacidad', root_path %> &bull;
          <%= link_to 'Limitación de responsabilidad', root_path %> &bull;
          <%= link_to 'Cookies (EU)', root_path %>
        </p>
      </div>
      <div class="col-md-3 made-in-spain">
        <p>Made in Spain</p>
      </div>
    </div>
  </div>
</footer>