<header role="banner" class="main-header">
  <nav class="navbar navbar-makigas navbar-static-top">
    <div class="container">
      <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#makigas-navbar" aria-expanded="false">
              <span class="sr-only"><%= t('.header.navigation') %></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'makigas', root_path, class: 'navbar-brand'%>
          </div>
      <div class="collapse navbar-collapse" id="makigas-navbar">
        <ul class="nav navbar-nav navbar-right">
          <%= navigation_link t('.front'), root_path %>
          <%= navigation_link t('.videos'), videos_path %>
          <%= navigation_link t('.playlists'), playlists_path %>
          <%= navigation_link t('.topics'), '/topics' %>
        </ul>
      </div>
    </div>
  </nav>
  
</header>

