<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : "makigas" %></title>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4d6699">
  <meta name="theme-color" content="#4d6699">
  
  <%= csrf_meta_tags %>
</head>
<body class="no-js <%= "page-#{controller.controller_name}" %>">
  
  <%= render 'layouts/header' %>
  
  <div class="main-page <%= 'with-hero' if content_for?(:hero) %>">
    
    <% if content_for?(:hero) %>
    <div class="jumbotron hero-tron">
      <div class="container">
        <%= yield :hero %>
      </div>
    </div>
    <% end %>
    
    <div class="main-page-inner container">

    <%= content_tag(:div, flash[:notice], class: 'alert alert-info') if flash[:notice] %>

    <%= yield %>
    </div>
  </div>
  
  <%= render 'layouts/footer' %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>

</body>
</html>
