<!DOCTYPE html>

<!--                 _    _                 
                    | |  (_)                
    _ __ ___   __ _| | ___  __ _  __ _ ___ 
    | '_ ` _ \ / _` | |/ / |/ _` |/ _` / __|
    | | | | | | (_| |   <| | (_| | (_| \__ \
    |_| |_| |_|\__,_|_|\_\_|\__, |\__,_|___/
                            __/ |          
                            |___/           
    
    Interested in checking out the internals of this web page?
    The source code is actually open source. Get the code and
    report bugs at https://github.com/makigas/makigas. Thanks.
-->

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>makigas</title>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="no-js auth <%= "page-#{controller.controller_name}" %>">
  
  <header class="auth-header">
    <h1 class="brand">makigas</h1>
  </header>

  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <%= yield %>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>

</body>
</html>
