<!DOCTYPE html>
<html>
<head>
<%= render 'layouts/head' %>
</head>
<body class="no-js <%= "page-#{controller.controller_name}" %>">

  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'vendor' %>
  <%= javascript_include_tag 'app' %>
  <%= render 'layouts/analytics' %>
  <%= render 'layouts/cookies' %>

</body>
</html>
