<!DOCTYPE html>
<html>
<head>
<%= render 'layouts/head' %>
</head>
<body class="no-js navbar-transparent <%= "page-#{controller.controller_name}" %>">
  
  <%= render 'layouts/header', front: true %>
  
  <%= yield %>
  
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/analytics' %>
  <%= render 'layouts/cookies' %>

</body>
</html>
