<!DOCTYPE html>
<html>
<head>
<%= render 'layouts/head' %>
</head>
<body class="no-js navbar-transparent <%= "page-#{controller.controller_name}" %>">
  
  <%= render 'layouts/header', front: true %>
  
  <%= yield %>
  
  <%= render 'layouts/footer' %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>

</body>
</html>
